@import '../fonts/URWGeometricExtended/stylesheet.css'
@import '../fonts/Jost/stylesheet.css'
@import ui
@import color

body
    padding: 0
    margin: 0
    font-family: URW Geometric Extended
    color: $black
    font-size: 16px
a
    color: $black
.logo
    width: 100px
    height: 40px
// fonts properties
h1
    font-weight: 900
    font-size: 3.5em
h2
    font-weight: 900
    font-size: 2.5em
h3
    font-weight: 700
    font-size: 1em
    font-family: Jost

footer
    background: #1A1919
    color: $white
    a
        font-family: Jost
        color: $white
        text-decoration: none
        font-weight: 600
