.home-main
    background-image: url('/images/content/home/main_image.png')
    background-repeat: no-repeat
    background-position: 100% 25%
    background-size: 50%
    padding-bottom: 150px
    @media screen and ( max-width: 580px )
        background-size: 100%
        background-position: 100% 100%
        padding-bottom: 70vw
        .advantages
            flex-direction: column
            .advantage
                flex-direction: row
                max-width: 100vw
                text-align: left
                justify-content: flex-start
                align-items: flex-start
                &::before
                    content: ''
                    position: relative
                    padding: 0 5px
                    width: 17px
                    height: 17px
                    background-image: url("/images/ui/icons/check.svg")
                    background-repeat: no-repeat
                img
                    display: none

.advantages
    display: flex
    flex-direction: row
    margin: 50px 0

.advantage
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    max-width: 200px
    text-align: center
    img
        padding: 28px

.home-about
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-items: flex-start
    img
        max-width: 500px
        width: 50%
    div
        width: 50%
        padding-right: 15px
        p
            margin: 1em 0 0 0
        h2
            margin: 0

    @media screen and ( max-width: 580px  )
        padding: 0
        .home-about__text
            padding: 15px
        // .home-about__image
        //     width: 100vw     

    @media screen and (max-width: 992px)
        flex-direction: column
        div
            width: 100%
        img
            width: 100%
.home-about__text
    padding-bottom: 40px
    display: flex
    justify-content: flex-start
    align-items: flex-start
    flex-direction: column
.home-rentida
    background: $formBg
    display: flex
    flex-direction: row
    justify-content: space-around
    align-items: flex-start
    padding-top: 89px
    padding-bottom: 110px
    margin-top: 150px
    margin-bottom: 150px
    position: relative
    p
        margin: 1em 0 2em 0
    @media screen and (max-width: 992px)
        flex-direction: column
.home-rentida__header
    width: 40%
.home-rentida__header h2
    padding-top: 0
    margin: 0

.home-rentida p .red
    font-weight: 600

.home-rentida__cards
    width: 60%
    display: flex
    flex-direction: row
    justify-content: flex-end
    // align-items: center
.home-rentida__card
    background-color: $white
    width: 183px
    height: 200px
    padding: 23px
    margin: 10px
    position: relative
    h4
        margin: 10px 0
    p
        margin: 0
        word-wrap: nowrap
    .home-rentida__card-number
        position: absolute
        top: 20px
        right: 20px

.home-rentida
    @media screen and (max-width: 500px)
        margin: 100px 0
        padding: 40px 15px 150px 15px

.home-rentida__button
    margin-left: 0
    @media screen and (max-width: 992px)
        position: absolute
        width: calc(100% - 30px)
        max-width: 480px
        bottom: 50px
        // bottom: 0
        // left: 0
        // box-sizing: border-box
        // width: calc(100% - 30px)
//     left: 0

@media screen and (max-width: 992px)
    .home-rentida__header
        width: 100%
    .home-rentida__cards
        flex-direction: column
        width: 100%
        justify-content: flex-start
        align-items: flex-start
        .home-rentida__card
            width: auto
            height: auto
            display: inline
            background: transparent
            padding: 0
            margin: 0
            h4
                display: none
            span
                display: inline
                position: static
                margin-right: 5px
                // top: 0
                // left: 0
                color: $red
            img
                display: none

.home-contacts
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-items: flex-start
    h2
        margin: 0
        padding: 0
.home-contacts__info
    width: 50%
.home-contacts__info
    padding-bottom: 10px
    p
        display: flex
        flex-direction: row
        justify-content: flex-start
        align-items: flex-start
        max-width: 400px
        .icon
            margin-right: 5px

    h4
        display: flex
        flex-direction: row
        justify-content: flex-start
        align-items: center
        padding: 0
        margin: 0
        .icon
            margin-right: 5px
.home-contacts__map
    width: 50%
    display: flex
    img
        width: 100%

@media screen and (max-width: 992px)
    .home-contacts
        flex-direction: column
    .home-contacts__info
        width: 100%
        // padding: 0 15px 15px 15px
    .home-contacts__map
        width: 100%
@media screen and (max-width: 575.98px)
    .home-contacts
        padding: 0
    .home-contacts__info
        width: 100%
        padding: 0 15px 15px 15px

.home-contacts__info
    a
        text-decoration: none
