.home-main
    background-image: url('/images/content/home/main_image.png')
    background-repeat: no-repeat
    background-position: 100% 50%
    background-size: 50%
    @media screen and ( max-width: 580px )
        background-size: 100%
        background-position: 100% 100%
        padding-bottom: 240px
        

.advantages
    display: flex
    flex-direction: row
    margin: 50px 0 

.advantage
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    max-width: 200px
    text-align: center
    img
        padding: 28px
    